<h1>地図から探す</h1>

<button id="current-location-btn"
        style="padding: 8px 12px;
               margin-bottom: 10px;
               border-radius: 6px;
               border: 1px solid #ccc;">
  現在地から探す
</button>

<div id="map" style="width: 100%; height: 500px;"></div>

<script>
  const shops = <%= @shops.to_json.html_safe %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" 
        async defer data-turbo-track="reload"></script>