body {
  color: var(--dt-main);
}

a {
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #2f2a26;
}

.navbar .navbar-brand:hover {
  color: #2f2a26;
  text-decoration: none;
}

.top-page .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}