<h2><%= @user.name %>さんのマイページ</h2>

<hr>

<h3>お気に入り店舗一覧</h3>
<% if @favorites.any? %>
  <ul>
    <% @favorites.each do |favorite| %>
        <li>
          <%= link_to favorite.shop.name, shop_path(favorite.shop) %>
        </li>
    <% end %>
  </ul>
<% else %>
  <p>お気に入り登録した店舗はまだありません。</p>
<% end %>

<hr>

<h3>コメント一覧</h3>
<% if @comments.any? %>
  <ul>
    <% @comments.each do |comment| %>
        <li>
           <%= link_to comment.shop.name, shop_path(comment.shop) %><br>
           「<%= comment.content %>」
        </li>
    <% end %>
  </ul>
<% else %>
  <p>コメントはまだありません。</p>
<% end %>

   
