<div style="width: 100%; max-width: 600px; margin: 40px auto; text-align: center;"> 

  <!-- サイト名 -->
  <h1 style="font-size: 40px; margin-bottom: 10px;">Dog Table</h1>
  
  <!-- テーマ -->
  <p style="font-size: 18px; margin-bottom: 40px;">おいしいも、一緒がいい。</p>

  <!-- 検索ボックス一式 -->
  <%= form_with url: shops_path, method: :get, local: true do %>
    <div style="
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 30px;
    ">

      <!-- エリア（blockとcity） -->
      <%= select_tag :area_id,
        options_for_select(@area_options, params[:area_id]),
        {
          include_blank: "エリア",
          style: "padding: 10px; font-size: 16px; border-radius: 6px;" 
        }
      %>
          

      <!-- ジャンル選択 -->
      <%= select_tag :genre_id,
        options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]),
        {
          include_blank: "ジャンル",
          style: "padding: 10px; font-size: 16px; border-radius: 6px;"
        } 
      %>

      <!-- 検索ボタン -->
      <%= submit_tag "検索",
        style: "
          padding: 10px 20px;
          font-size: 16px;
          boder-radius: 6px;
          border: none;
          background: #333;
          color: white;
      " %>
  
    </div>
  <% end %>

  <!-- 地図で探すリンク -->
  <p style="font-size: 16px; color: #007aff; cursor: pointer;">
    地図から探す
  </p>

