@import "bootstrap";
@import "home";
@import "shops";

body {
  padding-top: 72px;
}

.gslide-image img {
    max-width: 80vw !important;
    max-height: 80vh !important;
    width: auto !important;
    height: auto !important;
    object-fit: contain !important;
}

.gclose {
    opacity: 1 !important;
}

.circle-image {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    max-width: none !important;
    max-height: none !important;
}

.navbar .navbar-brand {
  color: #2f2a26;
}

.navbar .navbar-brand:hover {
  color: #2f2a26;
  text-decoration: none;
}

