@import "bootstrap";

.gslide-image img {
    max-width: 80vw !important;
    max-height: 80vh !important;
    width: auto !important;
    height: auto !important;
    object-fit: contain !important;
}

.gclose {
    opacity: 1 !important;
}
